nav, nav menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    margin: 0;
}

nav {
    width: 50em;
    justify-content: space-between;
    padding: 1em calc(50% - 25em);
    position: sticky;
    top: 0%;
    z-index: 2;
    box-shadow: 0 4px 4px rgb(from var(--primary-green) r g b / 0.25);
    background-color: var(--secondary-white);
}

.Icons button {
    border: none;
    color: var(--primary-green);
    font-size: 2em;
    display: none;
}

.Icons span {
    padding-right: 1em;
}

nav menu {
    justify-content: center;
    padding: 0;
}

nav menu a {
    padding-left: 1em;
    color: var(--secondary-black);
    text-decoration: none;
}

nav a:hover {
    color: var(--secondary-pink);
}

nav a:active {
    color: var(--primary-yellow);
}

#skipBtn {
    position: absolute;
    left: -99999px;
    height: 3em;
    padding-inline: 1em;
}
#skipBtn:focus {
    left: 0%;
}

@media only screen and (max-width: 52em) {
    nav {
        width: calc(100% - 2em);
        padding: 1em;
    }

    nav menu {
        flex-direction: column;
        justify-content: stretch;
        width: 100%;
        padding-top: 1em;
    }

    .DesktopMenu {
        display: none;
    }

    nav menu li {
        width: calc(100% - 2em);
        padding: 1em;
        border-top: 1px dashed var(--primary-green);
        text-align: center;
    }

    nav menu li:last-child {
        border-bottom: 1px dashed var(--primary-green);
    }

    nav .Icons {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 0;
        justify-content: space-between;
        width: calc(100%);
        padding: 0;
    }

    .Icons button {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0;
    }

    .Icons button:hover {
        color: var(--secondary-pink);
    }

    .Icons button:active {
        color: var(--primary-yellow);
    }
}